# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
*.env

# macOS files
.DS_Store

# Logs and temporary data
*.log
*.tmp

# Build artifacts
build/
dist/
*.egg-info/

